.menu-wrapper{
  background-color: #1F2532;
  border-bottom: 1px solid #2A11A5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  width: 100vw;
}

a {
  color: #FFF;
  text-decoration: none;
  margin-left: 45px;
  font-size: 14px;
  font-weight: 500;
  font-family: Poppins;
}
