.auth {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #1F25323C;
  opacity: 1;
  border-radius: 8px;
  border: none;
  outline: none;
  height: 50px;
  padding-left: 25px;
  width: 100%;
  @media (max-width: 1680px) {
    height: 42px;
    margin-bottom: 14.3px !important;
  }

  &::placeholder {
    color: #1F2532;
    font: normal normal 400 16px/25px Poppins;
    opacity: 0.4;
    text-align: left;
  }
}
