<form [formGroup]="loginForm" (ngSubmit)="login()">
  <input class="auth" formControlName="email">
  <input class="auth" formControlName="password">
  <button type="submit">{{'LOGIN_BUTTON' | translate}}</button>
</form>
